body {
	font-family: Arial, Helvetica;
	color: #DDD;
	background-color: #222;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
}
ul#programmes {
	padding: 0;
	width: 1040px;
	margin: auto;
}
ul#programmes li {
	width: 240px;
	vertical-align: top;
	padding: 10px;
	height: 180px;
}
ul#programmes img {
	display: block;
	width: 240px;
	height: 135px;
}
ul#programmes h1 {
	margin: 10px 0 0;
	font-size: 1.1em;
	font-weight: 400;
}
#nav {
	text-align: center;
}
#nav ul {
	margin: 20px auto;
	padding: 0;
	display: inline-block;
}
#nav ul a {
	text-transform: uppercase;
	text-decoration: none;
	color: #DDD;
	margin: 5px;
	padding: 5px;
	font-size: 18px;
}
#nav li.sel a {
	font-weight: bold;
	color: #F54997;
}